@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: #0a0a0a;
  }
}
